# Ignore everything
*

# Toolchain
!.gitignore
!.gitattributes

# Docs
!docs/
!docs/**
!dev/
!dev/**
!README.md
!mkdocs.yml

# Scripts
!bash/
!bash/mount.sh

# Modpack instance
!modpack/
!modpack/instance.cfg
!modpack/mmc-pack.json
!modpack/.packignore
!modpack/minecraft/

# Downloadable
!modpack/minecraft/mods/
!modpack/minecraft/mods/.index/
!modpack/minecraft/mods/.index/**
!modpack/minecraft/resourcepacks/
!modpack/minecraft/resourcepacks/.index/
!modpack/minecraft/resourcepacks/.index/**
!modpack/minecraft/shaderpacks/
!modpack/minecraft/shaderpacks/.index/
!modpack/minecraft/shaderpacks/.index/**

# Scripting
!modpack/minecraft/kubejs/
!modpack/minecraft/kubejs/**
!modpack/minecraft/scripts/
!modpack/minecraft/scripts/**

# Configuration
!modpack/minecraft/config/
!modpack/minecraft/config/openloader/
!modpack/minecraft/config/openloader/advanced_options.json
!modpack/minecraft/config/badoptimizations.txt
!modpack/minecraft/config/c2me.toml
!modpack/minecraft/config/entityculling.json
!modpack/minecraft/config/exordium.json
!modpack/minecraft/config/ferritecore.mixin.properties
!modpack/minecraft/config/feytweaks.json
!modpack/minecraft/config/icterine.yml
!modpack/minecraft/config/immediatelyfast.json
!modpack/minecraft/config/iris.properties
!modpack/minecraft/config/lambdynlights.toml
!modpack/minecraft/config/modernfix-mixins.properties
!modpack/minecraft/config/moreculling.toml
!modpack/minecraft/config/sodium-extra-options.json
!modpack/minecraft/config/sodium-options.json
!modpack/minecraft/config/threadtweak.json
!modpack/minecraft/config/vmp.properties

# Resourcepacks
!modpack/minecraft/hd_assets/

# Datapacks
!modpack/minecraft/hd_data/
