# Ignore everything
*

# Toolchain
!.gitignore
!.gitattributes

# Docs
!docs/
!docs/**
!dev/
!dev/**
!README.md
!mkdocs.yml

# Scripts
!bash/
!bash/mount.sh

# Modpack instance
!modpack/
!modpack/manifest.json
!modpack/modlist.html
!modpack/overrides/

# Overrides
!modpack/overrides/mods/
!modpack/overrides/resourcepacks/
!modpack/overrides/shaderpacks/

# Scripting (KubeJS)
!modpack/overrides/kubejs/
!modpack/overrides/kubejs/config/
!modpack/overrides/kubejs/config/client.properties
!modpack/overrides/kubejs/config/common.properties
!modpack/overrides/kubejs/config/defaultoptions.txt
!modpack/overrides/kubejs/config/icon.png
!modpack/overrides/kubejs/config/packicon.png
!modpack/overrides/kubejs/README.txt

# Scripting (CraftTweaker)
!modpack/overrides/scripts/
!modpack/overrides/scripts/**

# Configuration (directories)
!modpack/overrides/config/
!modpack/overrides/config/inventorysorter/
!modpack/overrides/config/inventorysorter/config.json5
!modpack/overrides/config/jade/
!modpack/overrides/config/jade/**
!modpack/overrides/config/openloader/
!modpack/overrides/config/openloader/advanced_options.json
!modpack/overrides/config/spyglass-improvements/
!modpack/overrides/config/spyglass-improvements/settings.json
!modpack/overrides/config/stack-to-nearby-chests/
!modpack/overrides/config/stack-to-nearby-chests/mod-options.json

# Configuration (files)
!modpack/overrides/config/accessories.json5
!modpack/overrides/config/badoptimizations.txt
!modpack/overrides/config/betterf3.json
!modpack/overrides/config/c2me.toml
!modpack/overrides/config/emi_loot_config.toml
!modpack/overrides/config/emi_ores-client.json
!modpack/overrides/config/emi.css
!modpack/overrides/config/entityculling.json
!modpack/overrides/config/exordium.json
!modpack/overrides/config/ferritecore.mixin.properties
!modpack/overrides/config/feytweaks.json
!modpack/overrides/config/icterine.yml
!modpack/overrides/config/immediatelyfast.json
!modpack/overrides/config/iris.properties
!modpack/overrides/config/jade.json
!modpack/overrides/config/lambdynlights.toml
!modpack/overrides/config/midnightlib.json
!modpack/overrides/config/modernfix-mixins.properties
!modpack/overrides/config/modmenu.json
!modpack/overrides/config/moreculling.toml
!modpack/overrides/config/re_search.json
!modpack/overrides/config/resourcepackoverrides.json
!modpack/overrides/config/sodium-extra-options.json
!modpack/overrides/config/sodium-options.json
!modpack/overrides/config/threadtweak.json
!modpack/overrides/config/vmp.properties

# Configuration (outside of main folder)
!modpack/overrides/journeymap/
!modpack/overrides/journeymap/config/
!modpack/overrides/journeymap/config/**

# Resourcepacks
!modpack/overrides/hd_assets/

# Datapacks
!modpack/overrides/hd_data/
